extends layout 

block content 

  h1= title 

  ul 
    each gpuinstance in gpuinstancelist 
      li #{gpuinstance.gpu.name}:  
        a(href=gpuinstance.url) #{gpuinstance.serial}

    else
      li No GPUs in stock.